$font-family-sans-serif: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

$primary: #0b1e40;
$secondary: #28483b;

$body-color: $primary;
$body-bg: #f7f9fc;

$border-radius: 0.6rem;
$btn-font-size: 0.8rem;
$btn-padding-y: 0.55rem;
$btn-font-weight: 600;
