$font-family-sans-serif: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

$primary: #123c82;
$secondary: #28483b;

$body-color: #0b1e40;
$body-bg: #f7f9fc;
$body-secondary-color: #1f2937;
$body-tertiary-color: #6b7280;

$border-radius: 0.6rem;
$btn-font-size: 0.9rem;
$btn-padding-y: 0.8rem;
$btn-font-weight: 600;
$line-height-base: 1.2;
